<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gulchan.manage.dao.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gulchan.manage.pojo.Job">
        <id column="id" property="id" />
        <result column="hrid" property="hrid" />
        <result column="name" property="name" />
        <result column="unit" property="unit" />
        <result column="address" property="address" />
        <result column="worktime" property="worktime" />
        <result column="welfare" property="welfare" />
        <result column="salary" property="salary" />
        <result column="descrip" property="descrip" />
        <result column="skill" property="skill" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hrid, name, unit, address, worktime, welfare, salary, descrip, skill, state
    </sql>

</mapper>
